[main]
debug = false
buffer_size = 1000
group_prefix = 0020295

[rtl-sdr]
cmd = rtl_fm -f 169.65M -M fm -s 22050 | multimon-ng -a FLEX -t raw -

[home-assistant]
enabled = true
baseurl = http://homeassistant.local:8123
token = YOUR_HOME_ASSISTANT_TOKEN

[mqtt]
enabled = true
mqtt_server = 192.168.1.100
mqtt_port = 1883
mqtt_user = mqttuser
mqtt_password = password
mqtt_topic = p2000
mqtt_qos = 1

[mqtt2]
enabled = false
mqtt_server = 192.168.1.101
mqtt_port = 1883
mqtt_user = mqttuser
mqtt_password = password
mqtt_topic = p2000
mqtt_qos = 1
